body{
		font-family:"맑은 고딕", "돋움", "굴림";	/* 문서 전체의 글꼴 지정 */
		/* background:url(green.png) no-repeat left top fixed; */	/* 문서에 배경 이미지 삽입 */
		background-size:cover;	/* 문서 크기에 따라 배경 이미지 크기도 조절 */
	                  }
	       wrapper{
		margin: 30px auto; 		/* 영역을 화면 중앙에 배치 */
		width: 750px;		/*  전체화면 너비 750px */
                           }
	       nav {
		width: 100%;
		height:40px;
		background-color:#222;
	       }
	      nav ul {
		list-style:none;		/* 불릿 기호 없애기 */
	      }
	      nav ul li {
		display:inline;		/* 각 항목은 인라인 콘텐츠로 설정 */
		float:left;			/* 가로로 배치 */
		margin:10px;		/* 각 항목 사이의 마진 10px */
	      }
	      nav a {
		padding:6px 40px 9px;	/* 메뉴 항목의 패딩 값 */
		color:white;		/* 메뉴 항목의 글자색 */
		text-decoration:none;	/* 링크 밑줄 없애기 */
		text-shadow:0 1px 1px black;	/* 메뉴 텍스트에 그림자 효과 추가 */
	     }
	     nav a:hover{
		background-color: #ffd800;	/* 배경색 */
		color: black;		/* 글자색 */
		text-shadow:none;		/* 그림자 효과 없애기 */
		border-top-left-radius:5px;	/* 윗부분에 둥그런 모서리 처리 */
		border-top-right-radius:5px;	/* 윗부분에 둥그런 모서리 처리 */
	       article {
		padding:5px 20px;		/* 상하 패딩 5xp, 좌우 패딩 20px */
		border-left:2px solid #222;	/* 내용 왼쪽에 2px짜리 실선 */
		border-right:2px solid #222;	/* 내용 오른쪽에 2px짜리 실선 */
		background-color:rgba(255, 255, 255, .9); /* 약간 비치는 흰색 배경 */
 	       }
	       footer {
		margin:0 auto;
		padding:20px;
		font-size:9px;
		background-color:#666;
		color:white;
		border:2px solid #222;
	        }